# Verilog
*.vcd
*.vpd
*.fdb_latexmk
*.fdb
*.fls
*.synopsys
*.xilinx
# VSCode
.vscode/
.history/
*.code-workspace
TP2_ArqComp.sim/sim_1/impl/timing/xsim/simulate.log
TP2_ArqComp.cache/
TP2_ArqComp.hw/
TP2_ArqComp.runs/
TP2_ArqComp.xpr